--
-- PostgreSQL database dump
--

\restrict 7pxFdaG2I0ZjPx7t8vdmO0zc9wJhdYq8CW0MAVIanSjNIhutpqOyRoUk4BfZB7y

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attempt_answer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attempt_answer (
    answer_id uuid DEFAULT gen_random_uuid() NOT NULL,
    attempt_id uuid NOT NULL,
    question_id uuid NOT NULL,
    selected_option uuid,
    answer_text text,
    is_correct boolean,
    marks_awarded numeric(5,2) DEFAULT 0 NOT NULL
);


ALTER TABLE public.attempt_answer OWNER TO postgres;

--
-- Name: batch; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.batch (
    batch_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    department character varying(100),
    semester character varying(50),
    academic_year character varying(20),
    subject character varying(120),
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.batch OWNER TO postgres;

--
-- Name: batch_enrollment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.batch_enrollment (
    batch_id uuid NOT NULL,
    student_id uuid NOT NULL,
    enrolled_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.batch_enrollment OWNER TO postgres;

--
-- Name: coding_testcase; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coding_testcase (
    testcase_id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    input_data text NOT NULL,
    expected_output text NOT NULL,
    is_hidden boolean DEFAULT true NOT NULL,
    display_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.coding_testcase OWNER TO postgres;

--
-- Name: option_choice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.option_choice (
    option_id uuid DEFAULT gen_random_uuid() NOT NULL,
    question_id uuid NOT NULL,
    option_text text NOT NULL,
    is_correct boolean DEFAULT false NOT NULL,
    display_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.option_choice OWNER TO postgres;

--
-- Name: question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.question (
    question_id uuid DEFAULT gen_random_uuid() NOT NULL,
    quiz_id uuid,
    question_text text,
    type character varying(10) NOT NULL,
    topic character varying(120),
    marks integer DEFAULT 1 NOT NULL,
    difficulty character varying(10) DEFAULT 'medium'::character varying,
    image_data text,
    expected_answer text,
    keywords text,
    evaluation_mode character varying(10) DEFAULT 'manual'::character varying,
    problem_title character varying(200),
    problem_description text,
    constraints_text text,
    sample_input text,
    sample_output text,
    starter_code text,
    tags text,
    subtopic character varying(100),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT question_difficulty_check CHECK (((difficulty)::text = ANY ((ARRAY['easy'::character varying, 'medium'::character varying, 'hard'::character varying])::text[]))),
    CONSTRAINT question_evaluation_mode_check CHECK (((evaluation_mode)::text = ANY ((ARRAY['manual'::character varying, 'nlp'::character varying])::text[]))),
    CONSTRAINT question_type_check CHECK (((type)::text = ANY ((ARRAY['mcq'::character varying, 'short'::character varying, 'coding'::character varying, 'image'::character varying])::text[])))
);


ALTER TABLE public.question OWNER TO postgres;

--
-- Name: quiz; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz (
    quiz_id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(200) NOT NULL,
    subject character varying(80),
    created_by uuid NOT NULL,
    batch_id uuid,
    duration integer DEFAULT 30 NOT NULL,
    total_marks integer DEFAULT 0 NOT NULL,
    start_time timestamp with time zone,
    end_time timestamp with time zone,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    difficulty character varying(10) DEFAULT 'medium'::character varying NOT NULL,
    instructions text,
    setting_fullscreen boolean DEFAULT true NOT NULL,
    setting_random_q boolean DEFAULT true NOT NULL,
    setting_random_opts boolean DEFAULT false NOT NULL,
    setting_copy_paste boolean DEFAULT true NOT NULL,
    setting_tab_detect boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT quiz_difficulty_check CHECK (((difficulty)::text = ANY ((ARRAY['easy'::character varying, 'medium'::character varying, 'hard'::character varying])::text[]))),
    CONSTRAINT quiz_status_check CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'live'::character varying, 'closed'::character varying])::text[])))
);


ALTER TABLE public.quiz OWNER TO postgres;

--
-- Name: quiz_attempt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_attempt (
    attempt_id uuid DEFAULT gen_random_uuid() NOT NULL,
    quiz_id uuid NOT NULL,
    student_id uuid NOT NULL,
    start_time timestamp with time zone DEFAULT now() NOT NULL,
    submit_time timestamp with time zone,
    score numeric(6,2),
    status character varying(20) DEFAULT 'in-progress'::character varying NOT NULL,
    violations integer DEFAULT 0 NOT NULL,
    CONSTRAINT quiz_attempt_status_check CHECK (((status)::text = ANY ((ARRAY['in-progress'::character varying, 'completed'::character varying, 'flagged'::character varying])::text[])))
);


ALTER TABLE public.quiz_attempt OWNER TO postgres;

--
-- Name: student_profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_profile (
    student_id uuid NOT NULL,
    roll_number character varying(30),
    department character varying(100),
    semester integer,
    year integer
);


ALTER TABLE public.student_profile OWNER TO postgres;

--
-- Name: submission_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.submission_log (
    log_id uuid DEFAULT gen_random_uuid() NOT NULL,
    attempt_id uuid,
    question_id uuid NOT NULL,
    student_id uuid NOT NULL,
    code text NOT NULL,
    language character varying(20) NOT NULL,
    language_id integer,
    runtime_status character varying(40),
    execution_time numeric(8,3),
    submitted_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.submission_log OWNER TO postgres;

--
-- Name: teacher_profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teacher_profile (
    teacher_id uuid NOT NULL,
    department character varying(100),
    designation character varying(80)
);


ALTER TABLE public.teacher_profile OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(120) NOT NULL,
    email character varying(200) NOT NULL,
    password_hash text NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['STUDENT'::character varying, 'TEACHER'::character varying, 'ADMIN'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: attempt_answer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attempt_answer (answer_id, attempt_id, question_id, selected_option, answer_text, is_correct, marks_awarded) FROM stdin;
\.


--
-- Data for Name: batch; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.batch (batch_id, name, department, semester, academic_year, subject, created_by, created_at) FROM stdin;
5b61dc3a-1b1e-4056-96a1-441072ab71af	ISE A	ISE	4th semester		CNS	dce778b2-02db-4718-9c19-6467cb62370e	2026-05-13 20:38:28.578904+05:30
ba7301f1-3267-4e72-874c-053f658d2a44	DBMS	ise	4th sem	2024-2025	DBMS	dce778b2-02db-4718-9c19-6467cb62370e	2026-05-13 23:26:07.526425+05:30
\.


--
-- Data for Name: batch_enrollment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.batch_enrollment (batch_id, student_id, enrolled_at) FROM stdin;
5b61dc3a-1b1e-4056-96a1-441072ab71af	8e99be3e-2c47-44ec-b648-05940917bf25	2026-05-13 20:38:53.95055+05:30
5b61dc3a-1b1e-4056-96a1-441072ab71af	42d34770-112e-4cd5-956c-0872f48d8264	2026-05-13 23:25:38.705847+05:30
ba7301f1-3267-4e72-874c-053f658d2a44	6ab41064-8c78-4a47-ac45-5fa03910b00a	2026-05-13 23:26:20.119377+05:30
\.


--
-- Data for Name: coding_testcase; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.coding_testcase (testcase_id, question_id, input_data, expected_output, is_hidden, display_order) FROM stdin;
\.


--
-- Data for Name: option_choice; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: question; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quiz; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: quiz_attempt; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quiz_attempt (attempt_id, quiz_id, student_id, start_time, submit_time, score, status, violations) FROM stdin;
\.


--
-- Data for Name: student_profile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_profile (student_id, roll_number, department, semester, year) FROM stdin;
6ab41064-8c78-4a47-ac45-5fa03910b00a	1RV22IS001	Information Science	6	3
8e99be3e-2c47-44ec-b648-05940917bf25	\N	\N	\N	\N
42d34770-112e-4cd5-956c-0872f48d8264	\N	\N	\N	\N
\.


--
-- Data for Name: submission_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.submission_log (log_id, attempt_id, question_id, student_id, code, language, language_id, runtime_status, execution_time, submitted_at) FROM stdin;
\.


--
-- Data for Name: teacher_profile; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teacher_profile (teacher_id, department, designation) FROM stdin;
c365a2b1-27db-4cbd-8fdf-f5588637fed7	Information Science	Associate Professor
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: attempt_answer attempt_answer_attempt_id_question_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempt_answer
    ADD CONSTRAINT attempt_answer_attempt_id_question_id_key UNIQUE (attempt_id, question_id);


--
-- Name: attempt_answer attempt_answer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempt_answer
    ADD CONSTRAINT attempt_answer_pkey PRIMARY KEY (answer_id);


--
-- Name: batch_enrollment batch_enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch_enrollment
    ADD CONSTRAINT batch_enrollment_pkey PRIMARY KEY (batch_id, student_id);


--
-- Name: batch batch_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch
    ADD CONSTRAINT batch_pkey PRIMARY KEY (batch_id);


--
-- Name: coding_testcase coding_testcase_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coding_testcase
    ADD CONSTRAINT coding_testcase_pkey PRIMARY KEY (testcase_id);


--
-- Name: option_choice option_choice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.option_choice
    ADD CONSTRAINT option_choice_pkey PRIMARY KEY (option_id);


--
-- Name: question question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_pkey PRIMARY KEY (question_id);


--
-- Name: quiz_attempt quiz_attempt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt
    ADD CONSTRAINT quiz_attempt_pkey PRIMARY KEY (attempt_id);


--
-- Name: quiz_attempt quiz_attempt_quiz_id_student_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt
    ADD CONSTRAINT quiz_attempt_quiz_id_student_id_key UNIQUE (quiz_id, student_id);


--
-- Name: quiz quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT quiz_pkey PRIMARY KEY (quiz_id);


--
-- Name: student_profile student_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_profile
    ADD CONSTRAINT student_profile_pkey PRIMARY KEY (student_id);


--
-- Name: submission_log submission_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.submission_log
    ADD CONSTRAINT submission_log_pkey PRIMARY KEY (log_id);


--
-- Name: teacher_profile teacher_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_profile
    ADD CONSTRAINT teacher_profile_pkey PRIMARY KEY (teacher_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_answer_attempt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_answer_attempt ON public.attempt_answer USING btree (attempt_id);


--
-- Name: idx_attempt_quiz; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attempt_quiz ON public.quiz_attempt USING btree (quiz_id);


--
-- Name: idx_attempt_student; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_attempt_student ON public.quiz_attempt USING btree (student_id);


--
-- Name: idx_enrollment_batch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_enrollment_batch ON public.batch_enrollment USING btree (batch_id);


--
-- Name: idx_enrollment_stu; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_enrollment_stu ON public.batch_enrollment USING btree (student_id);


--
-- Name: idx_log_attempt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_log_attempt ON public.submission_log USING btree (attempt_id);


--
-- Name: idx_option_question; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_option_question ON public.option_choice USING btree (question_id);


--
-- Name: idx_question_quiz; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_question_quiz ON public.question USING btree (quiz_id);


--
-- Name: idx_testcase_q; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_testcase_q ON public.coding_testcase USING btree (question_id);


--
-- Name: attempt_answer attempt_answer_attempt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempt_answer
    ADD CONSTRAINT attempt_answer_attempt_id_fkey FOREIGN KEY (attempt_id) REFERENCES public.quiz_attempt(attempt_id) ON DELETE CASCADE;


--
-- Name: attempt_answer attempt_answer_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempt_answer
    ADD CONSTRAINT attempt_answer_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id) ON DELETE CASCADE;


--
-- Name: attempt_answer attempt_answer_selected_option_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempt_answer
    ADD CONSTRAINT attempt_answer_selected_option_fkey FOREIGN KEY (selected_option) REFERENCES public.option_choice(option_id);


--
-- Name: batch batch_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch
    ADD CONSTRAINT batch_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: batch_enrollment batch_enrollment_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch_enrollment
    ADD CONSTRAINT batch_enrollment_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.batch(batch_id) ON DELETE CASCADE;


--
-- Name: batch_enrollment batch_enrollment_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batch_enrollment
    ADD CONSTRAINT batch_enrollment_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: coding_testcase coding_testcase_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coding_testcase
    ADD CONSTRAINT coding_testcase_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id) ON DELETE CASCADE;


--
-- Name: option_choice option_choice_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.option_choice
    ADD CONSTRAINT option_choice_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id) ON DELETE CASCADE;


--
-- Name: question question_quiz_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.question
    ADD CONSTRAINT question_quiz_id_fkey FOREIGN KEY (quiz_id) REFERENCES public.quiz(quiz_id) ON DELETE CASCADE;


--
-- Name: quiz_attempt quiz_attempt_quiz_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt
    ADD CONSTRAINT quiz_attempt_quiz_id_fkey FOREIGN KEY (quiz_id) REFERENCES public.quiz(quiz_id) ON DELETE CASCADE;


--
-- Name: quiz_attempt quiz_attempt_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt
    ADD CONSTRAINT quiz_attempt_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: quiz quiz_batch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT quiz_batch_id_fkey FOREIGN KEY (batch_id) REFERENCES public.batch(batch_id) ON DELETE SET NULL;


--
-- Name: quiz quiz_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT quiz_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: student_profile student_profile_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_profile
    ADD CONSTRAINT student_profile_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: submission_log submission_log_attempt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.submission_log
    ADD CONSTRAINT submission_log_attempt_id_fkey FOREIGN KEY (attempt_id) REFERENCES public.quiz_attempt(attempt_id) ON DELETE CASCADE;


--
-- Name: submission_log submission_log_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.submission_log
    ADD CONSTRAINT submission_log_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.question(question_id) ON DELETE CASCADE;


--
-- Name: submission_log submission_log_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.submission_log
    ADD CONSTRAINT submission_log_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: teacher_profile teacher_profile_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher_profile
    ADD CONSTRAINT teacher_profile_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 7pxFdaG2I0ZjPx7t8vdmO0zc9wJhdYq8CW0MAVIanSjNIhutpqOyRoUk4BfZB7y

